:root {
  --dialog-border-color: rgb(0, 0, 200, 0.5);
  --dialog-border-color-active: rgb(0, 0, 200, 0.9);
  --dialog-border: 1px solid var(--dialog-border-color);
  --dialog-border-active: 1px solid var(--dialog-border-color-active);

  --dialog-button-submit-background: rgb(45, 45, 255);
  --dialog-button-submit-color: rgb(255, 255, 255);
  --dialog-button-background: rgb(255, 255, 255);
  --dialog-button-color: var(--dialog-border-color-active);

  --dialog-button-active-shadow-color: rgb(150, 150, 255);
  --dialog-button-radius: 3px;
  --dialog-label-color: rgb(30, 30, 30);
  --menu-item-highlighted: rgb(240, 240, 255);
}

.modal {
  input[type=text] {
    border: var(--dialog-border);
    border-radius: var(--dialog-button-radius);
    padding: 4px;
    width: 100%;
  }

  input[type=submit] {
    background: var(--dialog-button-submit-background);
    border: var(--dialog-border);
    border-radius: var(--dialog-button-radius);
    box-shadow: 0 0 2px var(--dialog-button-active-shadow-color);
    color: var(--dialog-button-submit-color);
    padding: 0 10px;

    &:disabled {
      opacity: 0.5;
    }
    &:active {
      box-shadow: none;
    }
  }

  input:hover,
  input:focus {
    border: var(--dialog-border-active);
  }
  label {
    font-size: 0.8em;
    color: var(--dialog-label-color);
  }
}

.form-buttons {
  grid-column: span 2;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}

.form-buttons button {
  padding: 0 10px;
  opacity: 0.9;
  border: var(--dialog-border);
  border-radius: var(--dialog-button-radius);
  box-shadow: 0 0 2px var(--dialog-button-active-shadow-color);
  background: var(--dialog-button-background);
  color: var(--dialog-button-color);

  &:hover {
    border: var(--dialog-border-active);
    opacity: 1;
  }
  &:active {
    box-shadow: none;
  }

  svg {
    height: 1.2em;
    display: inline-block;
    padding-bottom: 2px;
    fill: var(--dialog-border-color-active);
  }
}

.form-buttons > * {
  min-width: 100px;
}

.tabs button {
  font-size: 0.8em;
  font-variant-caps: petite-caps;
}

@media only screen and (max-width: 670px) {
  .banner {
    display: none;
  }
}

.banner a {
  color: blue;
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #ddf;
  border-bottom-color: #aaf;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
