:root {
  --dialog-border-color: rgb(0, 0, 200, 0.5);
  --dialog-border-color-active: rgb(0, 0, 200, 0.9);
  --dialog-border: 1px solid var(--dialog-border-color);
  --dialog-border-active: 1px solid var(--dialog-border-color-active);
  --dialog-button-submit-background: rgb(45, 45, 255);
  --dialog-button-active-shadow-color: rgb(90, 90, 255);
  --dialog-button-radius: 3px;
  --dialog-label-color: rgb(30, 30, 30);
}

.dialog {
  margin: 0 auto;

  label {
    font-size: 0.8em;
    color: var(--dialog-label-color);
  }
  input[type=text] {
    margin-bottom: 8px;
  }
}

input[type=text] {
  border: var(--dialog-border);
  border-radius: var(--dialog-button-radius);
  padding: 4px;
  width: 100%;
}

input[type=submit] {
  background: var(--dialog-button-submit-background);
  border: var(--dialog-border);
  border-radius: var(--dialog-button-radius);
  color: white;

  &:disabled {
    opacity: 0.5;
  }
  &:active {
    box-shadow: 0 0 3px var(--dialog-button-active-shadow-color);
  }
}

input:hover,
input:focus {
  border: var(--dialog-border-active);
}

.form-buttons {
  grid-column: span 2;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}

.form-buttons button {
  background: white;
  border: var(--dialog-border);
  border-radius: var(--dialog-button-radius);
  color: var(--dialog-border-color-active);
  padding: 0 10px;
  opacity: 0.9;

  &:hover {
    border: var(--dialog-border-active);
    opacity: 1;
  }
  &:active {
    box-shadow: 0 0 3px var(--dialog-button-active-shadow-color);
  }

  svg {
    height: 1.2em;
    display: inline-block;
    padding-bottom: 2px;
    fill: var(--dialog-border-color-active);
  }
}

.form-buttons > * {
  min-width: 100px;
}

.tabs button {
  font-size: 0.8em;
  font-variant-caps: petite-caps;
}
